.postcard {
    background: white;
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

.postcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postcard-header img {
    width: 50px;
    height: 50px;
}

.postcard-body {
    display: flex;
}

.body-left,
.body-right {
    border: 1px dashed #ccc;
}

.body-left {
    flex: 1; 
}

.body-right {
    flex: 1;
}

.postcard-footer {
    text-align: center;
    background-color: #333;
    padding: 10px;
    font-family: &quot;Montserrat&quot;, sans-serif;
}

button {
    background-color: #666;
    padding: 5px 15px;
    margin-left: 20px;
}

p {
    color: white;
}